
extends ../layout

block content
  h1= title
  p
    strong Book Title:
    | &nbsp;
    =loan.book.title
  p
    strong Loaned By:
    | &nbsp;
    =loan.patron.first_name
    | &nbsp;
    =loan.patron.last_name
  p
    strong Loaned On:
    | &nbsp;
    =loan.loaned_on
  p
    strong Return By:
    | &nbsp;
    =loan.return_by

  form(action="/loans/" + loan.id + "/return?_method=PUT", method="post")
    include errors
    p
      label(for='returned_on') Returned on:
      input#returned_on.datepicker(type='text', value=today name="returned_on")
    p
      input(type='submit', value='Return Book')
